<div class="container">
    <app-page-title
        titulo="Próxima Citas"
        descripcion="Mantén tus citas bajo control, cuidamos de ti y de tu bebé"
    >
    </app-page-title>
    <!-- <hr class="mt-2"/> -->
</div>


<div class="container my-3">
    <div class="table-responsive">
      <table class="table">
        <thead>
            <tr>
                <th>Doctor</th>
                <th>Fecha y hora</th>
                <th>Paciente</th>
                <th>Cédula</th>
                <th>Estado</th>
                <th>Descripción</th>
                <th>Recordatorios</th>
              </tr>
        </thead>
        <tbody class="list">

          <tr *ngFor="let cita of citas" class="animate__animated animate__fadeIn">
            <td>{{ cita.doctor.nombres }}</td>
            <td>{{ cita.fecha | date : "short" }}</td>
            <td>{{ cita.paciente.nombres }}</td>
            <td>{{ cita.paciente.cedula }}</td>
            <td>{{ cita.estado }}</td>
            <td>{{ cita.descripcion }}</td>
            <td>{{ cita.recordatorios }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  