<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default">
  <div class="container">
    <a 
      class="navbar-brand" 
      routerLink="/inicio"
      >
      Metal Obstetric
    </a>

    <div class="collapse navbar-collapse" id="navbar-default">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            routerLink="/proximas-citas"
            [routerLinkActive]="['is-active']"
          >
            <span class="nav-link-inner--text">Proximas Citas</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" 
            routerLink="/historial-paciente"
            [routerLinkActive]="['is-active']">
            <span class="nav-link-inner--text">Historial Médico</span>
          </a>
        </li>
        <li class="nav-item">
          <a 
            routerLink="/contenido-de-interes"
            class="nav-link nav-link-icon" 
            [routerLinkActive]="['is-active']">
            <span class="nav-link-inner--text">Contenido de Interés</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            routerLink="/perfil"
            [routerLinkActive]="['is-active']"
          >
            <span class="nav-link-inner--text">Mi Perfil</span>
          </a>
        </li>
      </ul>

      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
