<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pacientes por atender</a>
      <!--button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button-->

      <!--div class="collapse navbar-collapse" id="navbarSupportedContent"-->        
      <div class="nav justify-content-end">
          <button class="redondo" type="submit">Search
            <i class="ni ni-fat-add"></i>
          </button>
      </div>
    </div>
</nav>
<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col">
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck1" type="checkbox">
            <label class="custom-control-label" for="customCheck1"></label>
          </div>
        </th>
        <th scope="col">Nombre</th>
        <th scope="col">Semana</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha de la cita</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck2" type="checkbox">
            <label class="custom-control-label" for="customCheck2"></label>
          </div>
        </th>
        <td>
          Paola Miranda
        </td>
        <td>
          <span class="badge badge-dot mr-4">
            <i class="bg-warning"></i> 15
          </span>
        </td>
        <td>
          <button type="button" class="btn btn-primary">
            <span>Atendido</span>
          </button>
        </td>
        <td>
          Miércoles 1 de febrero 8 am
        </td>
        <td class="text-right">
          <div ngbDropdown placement="bottom-right">
            <a class="btn btn-secondary dropdown-toggle"  ngbDropdownToggle>
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          
        </td>
      </tr>
      
    </tbody>
  </table>
</div>