<app-page-title
  titulo="Nueva cita"
  descripcion="Aquí puedes crear nueva citas"
>
</app-page-title>

<div class="container-fluid mt-2">
  <form class="rounded border border-primary p-4" (ngSubmit)="registrarCita()">
    <!-- datos del paciente -->
    <h4>Datos del paciente</h4>
    <div class="formulario-input">
      <div class="form-group">
        <label for="pacienteIdentificador">
          Buscador de pacientes 
          <span class="text-primary" *ngIf="estadoPaciente">Buscando...</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="pacienteIdentificador"
          placeholder="Palabra clave por ejemplo: cedula, nombres, correo"
          name="identificador_paciente"
          [(ngModel)]="queryPaciente"
          (ngModelChange)="filtroPaciente()"
        />
      </div>

      <div class="form-group">
        <label for="PacienteSelecionado">Seleccione un paciente</label>
        <select
          class="custom-select form-control"
          [(ngModel)]="cita.paciente"
          name="paciente_selecionado"
          id="PacienteSelecionado"
        >
          <option
            *ngFor="let paciente of pacientesFiltrado"
            [ngValue]="paciente"
          >
            {{ paciente.nombres }} - {{ paciente.cedula }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="cedulaInput">Cédula</label>
        <input
          type="text"
          [value]="cita.paciente?.cedula"
          id="cedulaInput"
          class="form-control"
          placeholder="Cedula"
          disabled="true"
        />
      </div>

      <div class="form-group">
        <label for="nombresInput">Nombres</label>
        <input
          type="text"
          id="cedulaInput"
          [value]="cita?.paciente.nombres"
          class="form-control"
          placeholder="Nombres"
          disabled="true"
        />
      </div>

      <div class="form-group">
        <label for="apellidosInput">Apellidos</label>
        <input
          type="text"
          id="cedulaInput"
          [value]="cita?.paciente.apellidos"
          class="form-control"
          placeholder="Apellidos"
          disabled="true"
        />
      </div>
    </div>

    <hr />
    
    <h4>Datos del doctor</h4>

    <!-- datos de la especialidad y el doctor -->
    <div class="formulario-input">
      <!-- <div class="form-group">
        <label for="id_doctor">
          Buscador de doctor
          <span class="text-primary" *ngIf="estadoDoctor">Buscando...</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="id_doctor"
          placeholder="Palabra clave por ejemplo: cedula, nombres, correo"
          [(ngModel)]="queryDoctor"
          name="identificador_doctor"
          (ngModelChange)="filtroDoctor()"
        />
      </div>

      <div class="form-group">
        <label for="doctorSelecionado">Seleccione un doctor</label>
        <select
          class="custom-select form-control"
          [(ngModel)]="cita.doctor"
          name="doctor_selecionado"
          id="doctorSelecionado"
        >
          <option *ngFor="let doctor of doctoresFiltrado" [ngValue]="doctor">
            {{ doctor.nombres }} - {{ doctor.cedula }}
          </option>
        </select>
      </div> -->

      <div class="form-group">
        <label for="cedulaInput">Cédula</label>
        <input
          type="text"
          [value]="cita?.doctor.cedula"
          id="cedulaInput"
          class="form-control"
          placeholder="Cedula"
          disabled="true"
        />
      </div>

      <div class="form-group">
        <label for="nombresInput">Nombres</label>
        <input
          type="text"
          id="cedulaInput"
          [value]="cita?.doctor.nombres"
          class="form-control"
          placeholder="Nombres"
          disabled="true"
        />
      </div>

      <div class="form-group">
        <label for="apellidosInput">Apellidos</label>
        <input
          type="text"
          id="cedulaInput"
          [value]="cita?.doctor.apellidos"
          class="form-control"
          placeholder="Apellidos"
          disabled="true"
        />
      </div>
    </div>

    <hr />
    <h4>Datos de la cita</h4>

    <div class="formulario-input">
      <div class="form-group">
        <label for="fecha">Fecha y Hora</label>
        <input 
          type="datetime-local"
          id="fecha"
          [(ngModel)]="cita.fecha"
          name="fecha"
          min="{{minFecha}}"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="estado">Estado</label>
        <input
          type="text"
          id="estado"
          [value]="cita.estado"
          disabled="true"
          class="form-control"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea
        type="text"
        id="descripcion"
        [(ngModel)]="cita.descripcion"
        name="descripcion"
        class="form-control"
        placeholder="Descripción de la cita medica"
      ></textarea>
    </div>


    <button 
      type="submit"
      class="btn btn-primary btn-lg btn-block mt-3"
      [disabled]="!habilitar"
      >
      Registrar cita
    </button>
    

  </form>
</div>
