<div class="container mt-3">
    <div class="card border border-primary mb-3">
        <div class="card-header">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="mr-3">
                    <i class="ni ni-badge display-3"></i>
                </div>
                <h2>Historia clínica</h2>
            </div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">

                <h1 class="display-4 text-center mb-3">Información personal</h1>

                <div class="row">
                    <div class="col">
                        <p>
                            <span class="font-weight-bold">Nombre:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                        <p>
                            <span class="font-weight-bold">Fecha de nacimiento:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                        <p>
                            <span class="font-weight-bold">Lugar:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                        
                    </div>
                    <div class="col">
                        <p>
                            <span class="font-weight-bold">Edad:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                        <p>
                            <span class="font-weight-bold">Profesión/Ocupación:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                        <p>
                            <span class="font-weight-bold">Dirección de residencia:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                    </div>
                    <div class="col">
                        
                        <p>
                            <span class="font-weight-bold">Teléfono convencional</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                        <p>
                            <span class="font-weight-bold">Teléfono:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>

                    </div>
                </div>

                <h1 class="display-4 text-center mb-3">Antecedentes</h1>
                <div class="row">
                    <div class="col">
                        
                        <p>
                            <span class="font-weight-bold">Patológico:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>

                        <p>
                            <span class="font-weight-bold">Quirúrgicos:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                        
                    </div>
                    <div class="col">
                        <p>
                            <span class="font-weight-bold">Tóxico/Alérgicos:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                        <p>
                            <span class="font-weight-bold">Traúmaticos:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                    </div>
                    <div class="col">
                        
                        <p>
                            <span class="font-weight-bold">Psicosociales:</span>
                            <span class="ml-2">{{datos[0]}}</span>
                        </p>
                    </div>
                </div>


            </blockquote>
        </div>
    </div>
</div>