<div class="container py-3">
  <h3>
    Registro de usuarios
    <small class="text-muted"
      >Aquí puedes registra usuarios de todos los tipos</small
    >
  </h3>
</div>

<div class="container">
  <div class="container shadow rounded mt-2 p-4">
    <form role="form" [formGroup]="userForm" (ngSubmit)="onRegistrarUsuario()">
      <div class="row">
        <div class="col-12 col-md-6">
          <!-- nombres -->
          <div class="form-group">
            <label for="nombres" >Nombres</label>
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-single-02"></i
                ></span>
              </div>

              <input
                class="form-control"
                formControlName="nombres"
                placeholder="Nombres"
                id="nombres"
                type="text"
                (focus)="focus = true"
                (blur)="focus = false"
              />
            </div>
          </div>

          <!-- cedula -->
          <div class="form-group">
            <label for="cedula" >Cédula</label>
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-single-02"></i
                ></span>
              </div>
              <input
                class="form-control"
                id="cedula"
                placeholder="Cedula"
                formControlName="cedula"
                type="text"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
              />
            </div>
          </div>

          <!-- nacimiento -->
          <div class="form-group">
            <label for="nacimiento" >Nacimiento</label>
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-calendar-grid-58"></i
                ></span>
              </div>
              <input
                class="form-control"
                formControlName="nacimiento"
                type="date"
                id="nacimiento"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
              />
            </div>
          </div>

          <!-- correo -->
          <div class="form-group">
            <label for="correo" >Correo</label>
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-email-83"></i
                ></span>
              </div>
              <input
                class="form-control"
                placeholder="Correo electrónico"
                formControlName="correo"
                type="email"
                id="correo"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
              />
            </div>
          </div>

          <!-- contraseña -->
          <div class="form-group">
            <label for="contraseña" >Contraseña</label>
            <div class="input-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-lock-circle-open"></i
                ></span>
              </div>
              <input
                class="form-control"
                placeholder="Contraseña"
                formControlName="password"
                id="contraseña"
                type="password"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
              />
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <!-- apellidos -->
          <div class="form-group" >
            <label for="apellido" >Apellido</label>
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-single-02"></i
                ></span>
              </div>
              <input
                class="form-control"
                placeholder="Apellidos"
                formControlName="apellidos"
                id="apellido"
                type="email"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
              />
            </div>
          </div>

          <!-- celular -->
          <div class="form-group">
            <label for="celular" >Celular</label>
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-single-02"></i
                ></span>
              </div>
              <input
                class="form-control"
                id="celular"
                placeholder="Celular"
                formControlName="celular"
                type="text"
              />
            </div>
          </div>

          <!-- genero -->
          <div class="form-group">
            <label for="generos" >Genero</label>
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-badge"></i
                ></span>
              </div>

              <select
                class="custom-select form-control"
                formControlName="genero"
                id="generos"
              >
                <option *ngFor="let g of generos" [value]="g">
                  {{ g }}
                </option>
              </select>
            </div>
          </div>

          <!-- rol de usuario -->
          <div class="form-group">
            <label for="rol" >Rol de usuario</label>
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-badge"></i
                ></span>
              </div>

              <select
                class="custom-select form-control"
                formControlName="rol"
                
                id="rol"
              >
                <option *ngFor="let rol of roles" [value]="rol">
                  {{ rol }}
                </option>
              </select>
            </div>
          </div>

          <!-- confirmar contraseña -->
          <div class="form-group">
            <label for="confirmar" >Confirmar contraseña</label>
            <div class="input-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-lock-circle-open"></i
                ></span>
              </div>
              <input
                class="form-control"
                placeholder="Confirmar contraseña"
                formControlName="confirContraseña"
                id="confirmar"
                type="password"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button
          [disabled]="!userForm.valid"
          type="submit"
          class="btn btn-primary mt-4"
        >
          Crear cuenta
        </button>
      </div>
    </form>
  </div>
</div>
