<app-page-title
  titulo="Cambiar contraseña"
  descripcion="Aquí podra cambiar la contraseña de la cuenta"
></app-page-title>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Cambiar contraseña</div>
          <div class="card-body">
            <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="currentPassword">Contraseña Actual</label>
                <input
                  type="password"
                  class="form-control"
                  id="currentPassword"
                  formControlName="oldPassword"
                />
                <div
                  *ngIf="
                    updatePasswordForm.controls.oldPassword.invalid &&
                    (updatePasswordForm.controls.oldPassword.dirty ||
                      updatePasswordForm.controls.oldPassword.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="
                      updatePasswordForm.controls.oldPassword.errors.required
                    "
                  >
                    Se requiere de la contraseña actual
                  </div>
                  <div
                    *ngIf="
                      updatePasswordForm.controls.oldPassword.errors.minlength
                    "
                  >
                    Se necesita un minimo de 6 caracteres
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="newPassword">Nueva contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  formControlName="newPassword"
                />
                <div
                  *ngIf="
                    updatePasswordForm.controls.newPassword.invalid &&
                    (updatePasswordForm.controls.dirty ||
                      updatePasswordForm.controls.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="
                      updatePasswordForm.controls.newPassword.errors.required
                    "
                  >
                    Se requiere de la nueva contraseña
                  </div>
                  <div
                    *ngIf="
                      updatePasswordForm.controls.newPassword.errors.minlength
                    "
                  >
                    La nueva contraseña debe tener un minimo de 6 caracteres
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirmar contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  formControlName="confirmNewPassword"
                />
                <div
                  *ngIf="
                    updatePasswordForm.controls.confirmNewPassword.invalid &&
                    (updatePasswordForm.controls.confirmNewPassword.dirty ||
                      updatePasswordForm.controls.confirmNewPassword.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="
                      updatePasswordForm.controls.confirmNewPassword.errors
                        .required
                    "
                  >
                    Se requier la confirmación
                  </div>
                  <div
                    *ngIf="
                      updatePasswordForm.controls.confirmNewPassword.errors
                        .minlength
                    "
                  >
                    Debe tener un minimo de 6 caracteres
                  </div>
                  <div
                    *ngIf="
                      updatePasswordForm.controls.confirmNewPassword.errors
                        .mustMatch
                    "
                  >
                    Las contraseñas no son iguales
                  </div>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="updatePasswordForm.invalid"
              >
                Actualizar contraseña
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  